[submodule "mikmod"]
	path = mikmod
	url = https://github.com/yousernaym/mikmod.git
	branch = ForkMaster
[submodule "libsidplayfp"]
	path = libsidplayfp
	url = git@github.com:yousernaym/libsidplayfp.git
	branch = master
